= f.input :content, :label => 'Answer'
= f.input :_destroy, :as => :hidden
= f.input :is_correct, :label => 'Correct'
= f.input :is_funny, :label => 'Funny'
= f.commit_button 'Remove answer', :button_html => {:name => 'remove_answer', :class => 'remove'}