= semantic_form_for @quiz, :html => {:multipart => true} do |form|
  -if @quiz.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quiz.errors.count, "error")} prohibited this quiz from being saved:"
      %ul
        - @quiz.errors.full_messages.each do |msg|
          %li= msg

  = form.inputs :name => 'Quiz' do
    = form.input :name
    = form.input :comment
    = form.input :categories, :label => 'Categories'#, :include_blank => true, :multiple => false, :input_html => { :size => 1 }
    = form.input :sponsor
    = form.input :graphic, :as => :file
    - index = 1
    = form.inputs :class => 'placement_comment_container', :for => :placement_comments do |f|
      = render 'placement_comment_fields', :index => index, :f => f
      - index += 1
    / = form.commit_button 'Add placement comment', :button_html => {:name => 'add_placement_comment', :class => 'add_placement_comment'}
    = link_to_add_fields("Add comment", form, :placement_comments)
    = form.input :funny_comment
  / = f.inputs :name => 'Questions', :for => :questions do |questions_form|
  /   = render 'question_fields', :f => questions_form
  /   = link_to_add_fields "Add Question", f, :questions
  .actions
    = form.submit 'Save'