= f.input :content
= f.input :is_correct
= f.input :is_funny
= f.input :_destroy, :as => :hidden
= f.commit_button "Remove answer for question ##{index}", :button_html => {:name => 'remove_answer', :class => 'remove'}