.question_details_container
	= f.input :content, :input_html => {:rows => 2}
	= f.input :comment, :input_html => {:rows => 5}
	= f.input :graphic, :as => :file
	= f.input :_destroy, :as => :hidden
	= f.commit_button '- Question', :button_html => {:name => 'remove_question', :class => 'remove'}
.answer_details_container
	.attributes_header= "#{t('.correct')}  |  #{t('.funny')}"
	= f.inputs :class => 'answer_container', :for => :answers do |a|
		= render 'answer_fields', :f => a, :index => index
	= link_to_add_fields("+ ##{index}", f, :answers)