#title
	%h1= t('.questions_title', :quiz => @quiz.name)

= semantic_form_for @quiz, :url => save_all_kwizzer_quiz_questions_path(@quiz) do |form|
	- index = 1
	= form.inputs :class => 'question_container', :for => :questions do |q|
		= render 'question_fields', :f => q, :index => index
		- index += 1
	= link_to_add_fields("+ Question", form, :questions, [:answers, 4])
	= form.input :questions_per_page, :as => :select, :collection => [1, 5, 10, 15], :include_blank => false
	.actions
		= form.submit 'Save'