#icon_navigation
	#left_icon_navigation
		- if @categories[0..3]
			- @categories[0..3].each_with_index do |category, category_index|
				.navigation{:class=>"navigation#{category_index+1}"}
					= link_to category.short_name, submissions_path(:w => '500'), :rel=>"quiz_popup_#{category.id}", :class => 'poplight'
				.popup_block{:id => "quiz_popup_#{category.id}"}
					.popup_navigation
						%h3= t('.popup_title', :category => category.name)
						%ul
							- category.active_quizzes.each do |quiz|
								%li=link_to quiz.name, new_submission_path(:quiz_id => quiz.id, :page => 1)
	#head_gear_wheels
		%div#kolecko1 
		%div#kolecko2 
			=image_tag 'frontend/kolecko_02.png'
		%div#kolecko3
			=image_tag 'frontend/kolecko_03.png'
		%div#kolecko4
			=image_tag 'frontend/kolecko_04.png'
	#right_icon_navigation
		.navigation{:class=>"navigation5"}
			= link_to t('.random_quiz'), new_submission_path(:quiz_id => 'random', :page => 1)
		- if @categories[4..7]
			- @categories[4..6].each_with_index do |category, category_index|
				.navigation{:class=>"navigation#{category_index+6}"}
					= link_to category.short_name, '#?w=500', :rel=>"quiz_popup_#{category.id}", :class => 'poplight'
				.popup_block{:id => "quiz_popup_#{category.id}"}
					.popup_navigation
						%h3= t('.popup_title', :category => category.name)
						%ul
							- category.active_quizzes.each do |quiz|
								%li=link_to quiz.name, new_submission_path(:quiz_id => quiz.id, :page => 1)