#logo
	%h1
		= link_to 'Kwizzer_logo', root_path
#usernav
	- if user_signed_in?
		= t('.signed_in', :username => current_user.username)
		= link_to t('.sign_out'), destroy_user_session_path
	- else
		= link_to t('.sign_in'), new_user_session_path
#locale_switcher
	%ul
		%li= link_to "SlovenÄina", set_locale_path('sk')
		%li= link_to "English", set_locale_path('en')
#navigation
	%ul
		%li= link_to t('.homepage'), root_path
		- if user_signed_in? && current_user.super?
			%li= link_to t('.quizzes'), kwizzer_quizzes_path
			%li= link_to t('.users'), kwizzer_users_path
			%li= link_to 'Rails admin', rails_admin_dashboard_path
	