%h1= t('.listing_quizzes')

%table
  %tr
    %th= t('.name')
    %th
    %th
    %th

  - @quizzes.each do |quiz|
    %tr
      %td= quiz.name
      %td= link_to t('.show'), kwizzer_quiz_path(quiz)
      %td= link_to t('.edit'), edit_kwizzer_quiz_path(quiz)
      %td= link_to t('.additional_questions'), kwizzer_quiz_additional_questions_path(quiz)
      %td= link_to t('.destroy'), kwizzer_quiz_path(quiz), :confirm => 'Are you sure?', :method => :delete

%br

= link_to t('.new_quiz'), new_kwizzer_quiz_path
