/ %p#notice= notice

%p
  %b Name:
  %p= @quiz.name
  %p= @quiz.comment
  %ul
    - @quiz.categories.each do |category|
      %li= category.name
  %p= @quiz.sponsor
  %ul
    - @quiz.placement_comments.each do |placement_comment|
      %li= placement_comment.content
  %p= @quiz.funny_comment
  %p= image_tag @quiz.graphic.url(:thumb)
  %ul
  - @quiz.questions.each_with_index do |question, q_index|
    %li= "Question #{q_index+1}: #{question.content}"
    %ul
      - question.answers.each_with_index do |answer, a_index|
        %li= "Answer #{a_index+1}: #{answer.content}"

= link_to 'Edit', edit_admin_quiz_path(@quiz)
\|
= link_to 'Back', admin_quizzes_path
