%h1= t('.listing_users')

%table
  %tr
    %th= t('.username')
    %th= t('.email')
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.email
      %td= link_to t('.show'), kwizzer_user_path(user)
      %td= link_to t('.edit'), edit_kwizzer_user_path(user)

%br

= link_to t('.new_user'), new_kwizzer_user_path
