%h1 Listing users

%table
  %tr
    %th Username
    %th Email
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.email
      %td= link_to 'Show', kwizzer_user_path(user)
      %td= link_to 'Edit', edit_kwizzer_user_path(user)

%br

= link_to 'New User', new_kwizzer_user_path
