#test_header
	#test_categories= @quiz.categories.first.name
	#test_names= @quiz.name
	#question_meter
		.background
			.meter= "#{params[:page]} / #{@quiz.questions.length/@quiz.questions_per_page}"

= form_tag submissions_path(:quiz_id => @quiz.id, :page => params[:page]) do
	- @questions.each do |question|
		#question= question.content
		#answers
			%ol
				- question.answers.each do |answer|
					%li
						%label
							= radio_button_tag "questions[#{question.id}][answer_ids]", answer.id
							= answer.content
			#sub_area
				= submit_tag t('.skip'), :class => 'skip_button'
				= submit_tag @last_page ? t('.submit') : t('.next_question'), :class => 'next_button'