%h1= "Answering quiz: #{@quiz.name}"

= semantic_form_for  @quiz, :as =>:submission, :url => submissions_url(:quiz_id => @quiz.id), :html => { :method => :post } do |f|
	= f.inputs :for => :questions, :class => 'quiz_question_container' do |q|
		%h2= q.object.content
		= q.input :answers, :as => :radio, :collection => q.object.answers
	= f.submit :value => 'Submit'