%h1= t('.header')
#vyhodnotenie
	.test_name= "#{@submission.quiz.categories.first.name} | #{@submission.quiz.name}"
	%ol
		- @submission.quiz.questions.each do |question|
			.popup_block{:id => "question_popup_#{question.id}"}
				.popup_navigation
					%h3= question.content
					%p= question.comment
					%p= image_tag question.graphic.url(:thumb) if question.graphic.file?
			%li
				= question.content
				= image_tag @submission.answers.include?(question.correct_answer) ? "frontend/true.png" : "frontend/false.png", :class => 'point'
				%br
				%span.true= t('.correct_answer', :answer => question.correct_answer.content)
				%br
				%span.true
					= t('.correct_answers_by')
					%span{:style => "color:#3C2415; font-weight:bold;"}= number_to_percentage(@submission.quiz.submissions.where(:is_repeated => false).map{|s| s.answers.select{|a| a.is_correct? && a.question == question}}.flatten.count.to_f*100 / @submission.quiz.submissions.where(:is_repeated => false).count.to_f, :precision => 0)
					= t('.people')
				%br
				= link_to t('.learn_more'), "#?w=700", :class => 'more_info poplight', :rel=>"question_popup_#{question.id}"
				
#summary
	%h2= t('.summary')
	.container_main
		.container
			= t '.correct_answers_first'
			%span.name= @submission.correct_answers_count
			= t '.correct_answers_second'
			%span.name= @submission.quiz.questions.count
			= t '.correct_answers_third'
		.container
			.per= number_to_percentage(@correct_answers_percentage, :precision => 0) if @correct_answers_percentage
			.text 
				= t('.correct_answers_percentage')
				%span.name= @submission.quiz.name
		.container
			.per= number_to_percentage(@average_submission_percentate, :precision => 0)
			/ number_to_percentage(@submission.correct_submissions_percentage, :precision => 0)
			.text 
				= t('.average_success')
				%span.name= @submission.quiz.name
	.evaluation
		%p= @placement_comment.content if @placement_comment
	.buttons
		= link_to t('.retry_quiz'), new_submission_path(:quiz_id => @submission.quiz.id, :page => 1), :class => 'testes'
		= link_to t('.hardest_test'), new_submission_path(:quiz_id => @hardest_quiz.id, :page => 1), :class => 'testes'
		= link_to t('.easiest_test'), new_submission_path(:quiz_id => @easiest_quiz.id, :page => 1), :class => 'testes'
		= link_to t('.random_test'), new_submission_path(:quiz_id => 'random', :page => 1), :class => 'testes'
	.buttons_soc
		= link_to t('.facebook_share'), facebook_link_to(@submission), :class => 'facebook', :target => '_blank'
		= link_to t('.twitter_share'), twitter_link_to(@submission), :class => 'twitter', :target => '_blank'