%h1= t('.header')
#vyhodnotenie
	.test_name= "#{@submission.quiz.categories.first.name} | #{@submission.quiz.name}"
	%ol
		- @submission.quiz.questions.each do |question|
			%li
				= question.content
				= link_to "dozvediet sa viac", '#', :class => 'more_info'
				= image_tag @submission.answers.include?(question.correct_answer) ? "frontend/true.png" : "frontend/false.png", :style => 'float:right;'
				%br
				%span.true= "Správna odpoveď: #{question.correct_answer.content}"