%h1= t('.header')
#vyhodnotenie
	.test_name= "#{@submission.quiz.categories.first.name} | #{@submission.quiz.name}"
	%ol
		- @submission.quiz.questions.each do |question|
			.popup_block{:id => "question_popup_#{question.id}"}
				.popup_navigation
					%h3= question.content
					%p= question.comment
					%p= image_tag question.graphic.url(:thumb)
			%li
				= question.content
				= image_tag @submission.answers.include?(question.correct_answer) ? "frontend/true.png" : "frontend/false.png", :class => 'point'
				%br
				%span.true= "Správna odpoveď: #{question.correct_answer.content}"
				%br
				%span.true
					Na túto otázku správne odpovedalo
					%span{:style => "color:#3C2415; font-weight:bold;"}= "83%"
					ľudí
				%br
				= link_to t('.learn_more'), "#?w=700", :class => 'more_info poplight', :rel=>"question_popup_#{question.id}"
				
#summary
	%h2 Zhrnutie
	.container_main
		.container
			= t '.correct_answers_first'
			%span.name= @submission.correct_answers_count
			= t '.correct_answers_second'
			%span.name= @submission.quiz.questions.count
			= t '.correct_answers_third'
		.container
			.per= number_to_percentage(@correct_answers_percentage, :precision => 0) if @correct_answers_percentage
			.text 
				správne vami zodpovedaných otázok v teste
				%span.name= @submission.quiz.name
		.container
			.per= number_to_percentage(@submission.correct_submissions_percentage, :precision => 0)
			.text 
				ľudí zodpovedalo správne na všetky otázky v teste 
				%span.name= @submission.quiz.name
	.evaluation
		%p= @placement_comment.content if @placement_comment
	.buttons
		= link_to t('.retry_quiz'), new_submission_path(:quiz_id => @submission.quiz.id, :page => 1), :class => 'testes'
		%a{:class => 'testes'} Najťažší test
		%a{:class => 'testes'} Najlahší test
		%a{:class => 'testes'} Náhodný test
	.buttons_soc
		%a{:class => 'facebook'} Zdielať výsledky testu na facebooku
		%a{:class => 'twitter'} Odoslať výsledky testu na twitter