%h1= "Results for quiz #{@submission.quiz.name}"

%p= "#{@submission.correct_answers_count} correct answer(s)"

- @submission.quiz.questions.each do |question|
	%div.result_container
		%p= question.content
		%ul
			- question.answers.each do |answer|
				- if @submission.answers.include?(answer)
					%li
						= answer.content 
						= answer.is_correct? ? ' correct' : ' incorrect'
						= ' funny' if answer.is_funny?
				- else
					%li= answer.content