#top_navigation
	= link_to '', kwizzer_quizzes_path, :class => 'login'
	= link_to '', set_locale_path('sk'), :class => 'slovak', :title => 'Slovenčina'
	= link_to '', set_locale_path('en'), :class => 'english', :title => 'English'
#top
#head
	#logo
		= link_to image_tag('frontend/logo.png'), root_path
	#header_text=raw @header_text
	#menu
		= link_to t('.homepage'), root_url
		%span •
		= link_to t('.quiz_list'), submissions_path
		%span •
		= link_to t('.statistics'), statistics_path
		%span •
		= link_to t('.about'), about_path
		%span •
		= link_to t('.contact'), contact_path
