#top_navigation
	= link_to '', kwizzer_quizzes_path, :class => 'login'
	= link_to '', set_locale_path('sk'), :class => 'slovak'
	= link_to '', set_locale_path('en'), :class => 'english'
#top
#head
	#logo
		= link_to image_tag('frontend/logo.png'), root_path
	#header_text Maecenas metus lorem, porta porttitor rutrum vel, euismod vitae risus. Integer molestie arcu sed eros iaculis faucibus vitae at dui. Duis pulvinar lectus nec libero rutrum viverra. Donec dictum pretium luctus. Fusce viverra suscipit nunc in viverra.
	#menu
		= link_to t('.homepage'), root_url
		%span •
		= link_to t('.quiz_list'), submissions_path
		%span •
		= link_to t('.statistics')
		%span •
		= link_to t('.about'), about_path
		%span •
		= link_to t('.contact')
