#login
	= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
		%p
			= f.label :username
			%br/
			= f.text_field :username, :class => 'login_input'
		%p
			= f.label :password
			%br/
			= f.password_field :password, :class => 'login_input'
		- if devise_mapping.rememberable?
			%p
				= f.check_box :remember_me
				= f.label :remember_me
		%p= f.submit "Sign in", :class => 'login_input_submit'
	= render :partial => "devise/shared/links"
