#logo
	%h1 Kwizzer_logo
#usernav
	- if user_signed_in?
		="Signed in as #{current_user.username}. Not you?"
		= link_to "Sign out", destroy_user_session_path
	- else
		= link_to "sign in", new_user_session_path
#navigation
	%ul
		%li= link_to 'Submissions', submissions_path
		- if user_signed_in? && current_user.super?
			%li= link_to 'Quizzes', kwizzer_quizzes_path
			%li= link_to 'Users', kwizzer_users_path
			%li= link_to 'Rails admin', rails_admin_dashboard_path